:root{
    --color_primary: #08A6E4;
    --color_shape_first: #FB3B64;
    --color_shape_second: #55DFB4;
    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
    font-size: 16px;
}

*{
    box-sizing: border-box;
}

body {
    font-family: var(--font-open-sans);
}

a {
    text-decoration: none;
}

.container{
    width: 84.5rem;
    margin: 0 auto;
}

.header{
    height: 4.375rem;
    box-shadow: 0 3px 6px #00000029;
}

.header .header__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo{
    color: var(--color_primary);
    font-family: var(--font-raleway);
    font-size: 2rem;
    margin-left: 8.5rem;
}
.header nav .nav__element{
    font-family: var(--font-open-sans);
    font-weight: 700;
    color: #A5A5A5;
    text-transform: uppercase;
    font-size: 0.6875rem;
    letter-spacing: 0.205rem;
    padding: 28px 47.5px 24px 47.5px;
}

.header nav .nav__element:hover {
    color: black;
    border-bottom: 3px solid #08A6E4;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero .hero__content {
    margin-top: 8.125rem;
}

.hero .hero__content .hero__header {
    font-family: var(--font-raleway);
    font-size: 3.0625rem;
    font-weight: 400;
}

.hero .hero__content .hero__text {
    font-family: var(--font-open-sans);
    font-weight: 400;
    margin-top: 1.25rem;
}

.hero .hero__content .btn--primary {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27.5rem;
    height: 4.1875rem;
    background-color: var(--color_primary);
    font-weight: 700;
    border-radius: 2.5rem;
    color: #fff;
    margin-top: 2.375rem;
}

.statistics {
    height: 33.1875rem;
}

.statistics .statistics__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.statistics .statistics__wrapper .statistics__title {
    width: 100%;
    text-align: center;
    font-family: var(--font-raleway);
    font-weight: 400;
    font-size: 36px;
}

.statistics__wrapper .statistics__element {
    margin-top: 1rem;
    margin-inline: 6rem;
    text-align: center;
    position: relative;
}

.circle {
    width: 3.9375rem;
    height: 3.9375rem;
    border-radius: 50%;
    margin-top: 6.3125rem;
}
.statistics__element .first__circle {
    background-color: var(--color_shape_first);
    position: relative;
    left: 1.5rem;
}
.statistics__element .second__circle {
    background-color: var(--color_primary);
    position: relative;
    left: 2.2rem;
}
.statistics__element .third__circle {
    background-color: var(--color_shape_second);
    position: relative;
    left: 1.5rem;
}

.statistics__element .statistics__image.statistics__image--first {
    position: relative;
    left: 1.4375rem;
    top: 0.3125rem;
}
.statistics__element .statistics__image.statistics__image--second {
    position: relative;
    left: 1.4375rem;
    top: 0.875rem;
}
.statistics__element .statistics__image.statistics__image--third {
    position: relative;
    left: 1.4375rem;
    top: 0.3125rem;
}

.statistics__wrapper .statistics__element .statistics__subtitle {
    font-family: var(--font-raleway);
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 0.3725rem;
}
.statistics__wrapper .statistics__element .statistics__text {
    color: #A5A5A5;
    width: 7rem;
}

/*Below are css selectors for benefits page*/

.benefits {
    background-color: #F7F7F7; /*żeby nie było rozlane na całą szerokość, przerzucić do .benefits__container*/
}

.benefits .benefits__container {
    padding: 6.5625rem;
}

.benefits .benefits__single {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border: 1px solid #E8E9ED;
    margin: 37px 0 0 0;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
}
.benefits__single--notebook::before {
    content: "";
    width: 11.25rem;
    height: 11.25rem;
    background-color: var(--color_shape_first);
    border-radius: 2.5625rem;
    position: absolute;
    right: 100px;
    bottom: 140px;
    transform: rotate(45deg);
}

.benefits .benefits__single--notebook {
    --benefits__color: var(--color_shape_first);
    position: relative;
    padding-right: 100px;
    padding-top: 50px;
}

.benefits__single--phone::before {
    content: "";
    width: 20rem;
    height: 20rem;
    background-color: var(--color_primary);
    border-radius: 50%;
    position: absolute;
    left: 70px;
}

.benefits .benefits__single--phone {
    --benefits__color: var(--color_primary);
    display: flex;
    flex-direction: row-reverse;
    position: relative;
}

.benefits .benefits__single--phone img {
    position: relative;
    left: 4.375rem;
    top: 1.5625rem;
}

.benefits .benefits__single--solo {
    --benefits__color: var(--color_shape_second);
    width: 38.94rem;
}
.benefits .benefits__single--image {
    width: 27.5rem;
    display: flex;
    justify-content: center;
    background-color: var(--color_shape_second);
}

.benefits__single .benefits__text {
    max-width: 30rem;
    padding: 2.25rem;
}
.benefits__single .benefits__text::after {
   content: "";
    width: 20.4775rem;
    height: 0.25rem;
    background-color: var(--benefits__color);
    display: block;
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
}

.benefits__single .benefits__text .benefits__title {
    font-family: var(--font-raleway);
    font-weight: 400;
    font-size: 2.25rem;
    max-width: 21.875rem;
}
.benefits__single .benefits__text .benefits__description {
    font-family: var(--font-open-sans);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.375rem;
}
.benefits__single .benefits__image {
    position: relative;
}


.benefits .benefits__double {
    display: flex;
    justify-content: space-between;
}

/*Below are css selectors for pricing page*/

.pricing {}

.pricing .pricing__container {}

.pricing .pricing__container .pricing__header {}

.pricing .pricing__container .pricing__box {}

.pricing .pricing__box .pricing__box__version {}

.pricing .pricing__box .pricing__list {}

.pricing .pricing__box .pricing__box__btn {}