:root{
    --color_primary: #08A6E4;
    --color_shape_first: #FB3B64;
    --color_shape_second: #55DFB4;
    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
    font-size: 16px;
}

*{
    box-sizing: border-box;
}

body {
    font-family: var(--font-open-sans);
}

a {
    text-decoration: none;
}

.container{
    width: 84.5rem;
    margin: 0 auto;
}

.header{
    height: 4.375rem;
    box-shadow: 0 3px 6px #00000029;
}

.header .header__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo{
    color: var(--color_primary);
    font-family: var(--font-raleway);
    font-size: 2rem;
    margin-left: 8.5rem;
}
.header nav .nav__element{
    font-family: var(--font-open-sans);
    font-weight: 700;
    color: #A5A5A5;
    text-transform: uppercase;
    font-size: 0.6875rem;
    letter-spacing: 0.205rem;
    padding: 28px 47.5px 24px 47.5px;
}

.header nav .nav__element:hover {
    color: black;
    border-bottom: 3px solid #08A6E4;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero .hero__content {
    margin-top: 8.125rem;
}

.hero .hero__content .hero__header {
    font-family: var(--font-raleway);
    font-size: 3.0625rem;
    font-weight: 400;
}

.hero .hero__content .hero__text {
    font-family: var(--font-open-sans);
    font-weight: 400;
    margin-top: 1.25rem;
}

.hero .hero__content .btn--primary {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27.5rem;
    height: 4.1875rem;
    background-color: var(--color_primary);
    font-weight: 700;
    border-radius: 2.5rem;
    color: #fff;
    margin-top: 2.375rem;
}